@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #252525;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #0784fa;
  border-radius: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* SHOWCASE */
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #020120;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

@media (max-width: 768px) {
  .showcase {
    padding: 0 50px;
  }
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.showcase header .navbar-toggler {
  border: none;
}

.showcase header .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.showcase header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 254, 254, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0784fa;
  mix-blend-mode: overlay;
}

.showcase .text {
  position: relative;
  z-index: 10;
}

.showcase .text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #f5f5f5;
  line-height: 1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .showcase .text h2 {
    font-size: 3rem;
  }
}

.showcase .text p {
  font-size: 1em;
  color: #dbeaf8;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.showcase .social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .social li a {
  display: inline-block;
  -webkit-transform: scale(2);
          transform: scale(2);
  padding-right: 3rem;
}

@media (max-width: 768px) {
  .showcase .social li a {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    padding-right: 2rem;
  }
}

.showcase .social i {
  color: #f5f5f5;
}

.showcase .social i:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

/* DESTINATIONS */
.destination-showcase {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#0784fa));
  background-image: linear-gradient(to bottom right, #f5f5f5, #0784fa);
}

.destination-showcase header .navbar-toggler {
  border: none;
}

.destination-showcase header .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.destination-showcase header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 254, 254, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.destination-showcase .destination-container video {
  position: static;
  width: 100%;
  height: 50%;
  max-width: 1170px;
  display: block;
  margin: 2rem auto;
  cursor: pointer;
}

.destination-showcase .destination-container #destinations {
  max-width: 1170px;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.destination-showcase .destination-container .card {
  border: 2px solid var(--white);
  -webkit-box-shadow: 3px 4px 5px rgba(255, 255, 255, 0.8);
          box-shadow: 3px 4px 5px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.destination-showcase .destination-container .card:hover {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.destination-showcase .destination-container .card p {
  max-width: 1170px;
}

.destination-showcase .destination-container .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.destination-showcase .destination-container .btn:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* VIDEOS */
.video-showcase {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#0784fa));
  background-image: linear-gradient(to bottom right, #f5f5f5, #0784fa);
}

.video-showcase header .navbar-toggler {
  border: none;
}

.video-showcase header .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.video-showcase header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 254, 254, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.video-showcase .video-container video {
  position: static;
  width: 100%;
  height: 70%;
  max-width: 1170px;
  display: block;
  margin: 2rem auto;
  border: 2px solid #dbeaf8;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(254, 254, 254, 0.5);
          box-shadow: 0 0.5rem 1rem rgba(254, 254, 254, 0.5);
  cursor: pointer;
}

.video-showcase .video-container .videoItem-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-showcase .video-container .videoItem-container .video {
  width: 25rem;
}

@media (max-width: 992px) {
  .video-showcase .video-container .videoItem-container .video {
    width: 50rem;
  }
}

.video-showcase .video-container .videoItem-container .video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #dbeaf8;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(254, 254, 254, 0.5);
          box-shadow: 0 0.5rem 1rem rgba(254, 254, 254, 0.5);
  outline: none;
  cursor: pointer;
}

.video-showcase .video-container .videoItem-container .video .active {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  width: 80%;
  -webkit-box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.85);
          box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.85);
  z-index: 20;
}

@media (max-width: 576px) {
  .video-showcase .video-container .videoItem-container .video .active {
    width: 100%;
  }
}

.video-showcase .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.video-showcase .btn:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* FAQ */
.faq-showcase {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#0784fa));
  background-image: linear-gradient(to bottom right, #f5f5f5, #0784fa);
}

.faq-showcase header .navbar-toggler {
  border: none;
}

.faq-showcase header .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq-showcase header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 254, 254, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.faq-showcase .faq-container {
  width: 100%;
  max-width: 967px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.faq-showcase .faq-container .accordion-item {
  border: none;
}

.faq-showcase .faq-container .accordion-item .accordion-button {
  background-color: #0784fa;
}

.faq-showcase .faq-container .accordion-item .accordion-button:not(.collapsed) {
  background-color: #0707f5;
}

.faq-showcase .faq-container .accordion-item .accordion-button::after {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}

.faq-showcase .faq-container .accordion-item .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq-showcase .faq-container .accordion-item:hover {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.faq-showcase .faq-container .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq-showcase .faq-container .btn:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  background-color: #0784fa;
  color: #f5f5f5;
}

/* CONTACT */
.contact-showcase {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#0784fa));
  background-image: linear-gradient(to bottom right, #f5f5f5, #0784fa);
  min-height: 100vh;
}

.contact-showcase header .navbar-toggler {
  border: none;
}

.contact-showcase header .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-showcase header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 254, 254, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.contact-showcase .contact-container {
  max-width: 990px;
}

@media (max-width: 992px) {
  .contact-showcase .contact-container .map,
  .contact-showcase .contact-container form {
    width: 90%;
    margin: 0 auto;
  }
}

.contact-showcase .contact-container button {
  background-color: #0784fa;
  color: #f5f5f5;
}

.contact-showcase .contact-container button:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.contact-showcase footer {
  max-width: 990px;
}

.contact-showcase footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 576px) {
  .contact-showcase footer .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-showcase footer .social li a {
  display: inline-block;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.contact-showcase footer .social i {
  color: #f5f5f5;
}

.contact-showcase footer .social i:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  animation-duration: 1s;
}
