@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  --blue: #0784fa;
  --white: #ffffff;
  --aliceWhite: #f0f8ff;
  --brightBlue: #0707f5;
  --darkBlue: #020120;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 25px;
  cursor: pointer;
}
header .logo a {
  text-decoration: none;
  color: var(--white);
}
header .logo span {
  color: var(--blue);
  font-size: 25px;
  font-weight: 600;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darkBlue);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0784facc;
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
}
.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1em;
  color: var(--aliceWhite);
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a:hover {
  transition: 0.5s ease;
  transform: scale(0.98);
  background-color: var(--white);
  color: var(--blue);
  font-weight: 600;
  border: none;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s ease;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 20px;
}
.menu ul li a:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 2px;
}

/* DESTINATION */
.carousel-inner img {
  min-height: 350px;
}
.card-container .card {
  width: 16rem;
  border: 5px solid var(--white);
  box-shadow: 3px 4px 5px rgb(255, 255, 255, 0.8);
  cursor: pointer;
}
.card-container .card:hover {
  animation: heartBeat;
  animation-duration: 4s;
}
.explore-more {
  border: none;
  border-radius: 5px;
  box-shadow: 3px 4px 5px rgb(255, 255, 255, 0.8);
}
.explore-more:hover {
  animation: flash;
  animation-duration: 1s;
}

/* REVIEW */
.bg-review {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(27, 27, 27, 0.5)),
    url(images/review-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.review .box {
  width: 40rem;
  background-color: var(--darkBlue);
  border-radius: 3px;
  box-shadow: 0px 4px 8px 3px var(--blue);
  cursor: pointer;
}
.review .box:hover {
  animation: shakeX;
  animation-duration: 4s;
}
.review i.quote {
  font-size: 15px;
  color: var(--brightBlue);
}
.box .info .stars {
  font-size: 12px;
}
.box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  border-radius: 50%;
}
.content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--blue);
}
.readmore:hover {
  animation: flash;
  animation-duration: 1s;
}

/* FAQ */
.faq-container {
  width: 100%;
  cursor: pointer;
}
.accordion-item {
  border: none;
}
.accordion-button {
  background-color: var(--blue);
}
.accordion-button:not(.collapsed) {
  background-color: var(--brightBlue);
}
.accordion-button::after {
  filter: brightness(0%) invert(100%);
}
.accordion-button:focus {
  box-shadow: none;
}
.bg-faq {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(27, 27, 27, 0.5)),
    url(images/faq-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* CONTACT */
.bg-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(27, 27, 27, 0.5)),
    url(images/contact-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-container button:hover {
  animation: flash;
  animation-duration: 1s;
  background-color: var(--brightBlue);
}

/* MEDIA QUERY */
@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  .card-container .card {
    width: 20rem;
  }
}
